@import 'tailwindcss';

body {
	font-family: 'Inter', sans-serif;

	background-image: url('src/lib/assets/gargantua-endurance-3840x2160-25445.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
}
